<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hand Written Digit Recognition using TensorFlow.js</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{{ url_for('static',    filename='js/mouseCapture.js') }}"></script>
    <script src="{{ url_for('static',    filename='js/datahandler.js') }}"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',    filename='css/digit.css')}}"
    />
  </head>
  <body>
    <main>
      <div class="container mt-1">
        <div class="digit-demo-container">
          <h3>Hand Written Digit Recognition</h3>
          <div class="flex-two">
            <div id="canvas_box_wrapper" class="canvas-box-wrapper">
              <canvas id="canvas" width="400" height="400"></canvas>

              <div class="col-12">
                <button
                  id="clear-button"
                  type="button"
                  class="btn btn-primary btn-lg"
                >
                  Clear
                </button>
              </div>
              <div class="col-12">
                <button
                  id="predict-button"
                  type="submit"
                  class="btn btn-primary btn-lg"
                >
                  Predict
                </button>
              </div>
            </div>

            <div id="predict"></div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
